/* Common Styling - index.html */
nav{
    text-decoration: none;
}

.parallax-container{
    height:350px;
}

.waves-effect{
    display:block;
    margin:15px;
    padding: 5px 8px;
    width:90%;
}

.side-block {
    /* border: 1px solid black;
    background-color: rgb(224, 214, 214); */
    margin-top: 35px;
    margin-left: 35px;
    width:100%;
    
}

.mainBlock-Contents{
    background-color: rgb(255, 248, 206);
    /* width: 35%px; */
    margin-top: 15px;
}

/* .col s12 m8 l9{
    width: 75%;
} */

/* Styling - APOD */


/* Styling - Local Sky View */

/* Styling - Near Earth Objects */

/* Styling - Mars Weather */

/* Styling - Space Missions */

/* Styling - Space Information */



/* Common Media Queries - index.html */
@media screen and (max-width: 873px) {
    .side-block {      
        width: 80%;
    }

}


@media screen and (max-width: 773px) {
    .side-block {      
        width: 95%;
    }

}

@media screen and (max-width: 420px) {
    .side-block {      
        width: 75%;
    }

    .waves-effect{
        width: 100%;
    }

    
}

