.container {
    width: 66%;
    height: 100vh;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#apod {
    height: 33vh;
    text-align: center;
    color: #f0ffff;
    padding: 5%;
}
#menu {
    margin-bottom: 2%;
}
.menu-item {
    width: 95%;
    height: 15%;
    padding: 1%;
    float: left;
    background-color: rgb(235, 232, 203);
    margin: auto;
    margin-top: 1%;
    padding-top: 1.5%;
    padding-left: 2%;
    text-align: left;
    border-radius: 5px;
}

.credits {
    margin-top: 2%;
    padding: 2%;
}