.parallax-container{
    height:225px;
  
}

body{
    background-color: rgb(179, 174, 174) ;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;  
}

.side-block {
    
    display:flex;
    margin-left:25px;
     
}

/* Styling for main Buttons -5 */
.Btn{
    width:200px;
    height:50px;
    text-align: center;
}

.homeBtn{
    width:15px;
}

.cse .gsc-control-cse,
.gsc-control-cse {
    background-color:  rgb(179, 174, 174) !important;
}

/* Styling for contents of HomePage */
/* .homePageContent{
    margin: 10px;
    padding:20px;
  
} */

.homePageTitle .overall{
    margin: 10px;
    padding:20px;
}

.nav-wrapper{
    background-color: rgb(49, 48, 48);
}

.mainBlock-Contents{

    font-weight: bold;
    font-size: 22px;
    width: 96%;
    margin-top: 15px;
    margin-left: 20px;
}

a{
    color:#000;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.side-block a.active {
    color:#cc70ad;
 
}

.title-video{
    width:340px;
    text-align: center;

} 
.video{
 text-align: center;
}

 div.overall{
 
    display: inline-table; 
    margin-right: 20px;
    margin-bottom : 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

   div.overall:hover {
    border: 1px solid black;
  }
   
  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(49, 48, 48);
    color:white;
}

/* Styling - APOD */


/* Styling - Local Hubble View */
.hubbleDescription {
    padding: 1%;
    /* margin: 2%; */
    font-weight: normal;
    font-size: 20px;
}

/* Styling - Near Earth Objects */

/* Styling - Mars Weather */

/* Styling - Space Missions */

/* Styling - Space Information */

.planet-btn {
    margin: 12px;
}

.wikiInfo {
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    /* margin: 2%; */
    font-weight: normal;
    font-size: 16px;
}
.planet-pic {
    padding-top: 1%;
}
/* Common Media Queries - index.html */
@media screen and (max-width: 1251px) and (min-width: 1120px){
    .Btn {      
        width:175px;
    }

    .homeBtn{
        width:15px;
    }

}

@media screen and (max-width: 1119px) and (min-width: 1046px){
    .Btn  {      
        width: 165px;
        font-size: 13px;
    }

    .homeBtn{
        width:15px;
    }
}


@media screen and (max-width: 1045px) and (min-width: 993px){
    .Btn  {      
        width: 140px; 
        font-size: 12px;
    }

    .homeBtn{
        width:15px;
    }
    }


@media screen and  (max-width: 780px) and (min-width: 600px) {
    .mainBlock-Contents{
        width:93%;
    }
}

@media screen and  (max-width: 599px) {
    .mainBlock-Contents{
        width:89%;
    }
}

@media screen and  (max-width: 440px) {
    .title-video{
        width:280px;
    } 
     .overall{
     margin-bottom : 20px;
     }
}

@media screen and  (max-width: 370px) {
    .title-video{
        width:270px;
    } 
}
    @media screen and  (max-width: 320px) {
        div.overall{
            margin-left: -20px ; 
        }
    } 